<%- include('./partials/header.ejs') %>
    <%- include('./partials/sidebar.ejs') %>

        <main class="conteudo">

            <div class="card-container">
                <div class="dash-card">
                    <span class="card-title">Total de Mesas</span>
                    <span class="card-icon">
                        <i class="fa fa-display"></i>
                        <span class="quant-card">
                            <%= total_mesas %>
                        </span>
                    </span>
                    <span class="foot-title">Total de Mesas Cadastradas</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Total de Computadores</span>
                    <span class="card-icon">
                        <i class="fa fa-computer"></i>
                        <span class="quant-card">
                            <%= total_pc %>
                        </span>
                    </span>
                    <span class="foot-title">Total de Computadores Cadastrados</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Total Avariados</span>
                    <span class="card-icon">
                        <i class="fa fa-desktop"></i>
                        <span class="quant-card">
                            <%= total_pc_avaria %>
                        </span>
                    </span>
                    <span class="foot-title">Total de Computadores Avariados</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Total de Incompletos</span>
                    <span class="card-icon">
                        <i class="fa fa-keyboard"></i>
                        <span class="quant-card">
                            <%= total_pc_incompleto %>
                        </span>
                    </span>
                    <span class="foot-title">Total de Computadores Incompletos</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Total de Reservado</span>
                    <span class="card-icon">
                        <i class="fa fa-database"></i>
                        <span class="quant-card">3</span>
                    </span>
                    <span class="foot-title">Total de Material Reservado</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Total de Aulas Marcadas</span>
                    <span class="card-icon">
                        <i class="fa fa-person-chalkboard"></i>
                        <span class="quant-card">3</span>
                    </span>
                    <span class="foot-title">Total de Aulas Marcadas Semanal</span>
                </div>

            </div>

        </main>
        <script src="/javascripts/sidebar.js"></script>
        <%- include('./partials/footer.ejs') %>