<%- include('./partials/header.ejs') %>
    <%- include('./partials/sidebar.ejs') %>

        <main class="conteudo">

            <div class="card-container">
                <div class="dash-card">
                    <span class="card-title">Total de Materiais</span>
                    <span class="card-icon">
                        <i class="fa fa-gears"></i>
                        <span class="quant-card">
                            <%=total_materiais%>
                        </span>
                    </span>
                    <span class="foot-title">Total de Material Cadastrados</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Total de Mesas</span>
                    <span class="card-icon">
                        <i class="fa fa-display"></i>
                        <span class="quant-card">
                            <%= total_mesas %>
                        </span>
                    </span>
                    <span class="foot-title">Total de Mesas Cadastradas</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Total de Computadores</span>
                    <span class="card-icon">
                        <i class="fa fa-computer"></i>
                        <span class="quant-card">
                            <%= total_pc %>
                        </span>
                    </span>
                    <span class="foot-title">Total de Computadores Cadastrados</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Total Avariados</span>
                    <span class="card-icon">
                        <i class="fa fa-desktop"></i>
                        <span class="quant-card">
                            <%= total_pc_avaria %>
                        </span>
                    </span>
                    <span class="foot-title">Total de Computadores Avariados</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Total de Bons</span>
                    <span class="card-icon">
                        <i class="fa-solid fa-computer"></i>
                        <span class="quant-card">
                            <%=total_pc_bons%>
                        </span>
                    </span>
                    <span class="foot-title">Total de Computadores Bons</span>
                </div>

                <div class="dash-card">
                    <span class="card-title">Outros Materiais</span>
                    <span class="card-icon">
                        <i class="fa-solid fa-microchip"></i>
                        <span class="quant-card">
                            <%= total_outros %>
                        </span>
                    </span>
                    <span class="foot-title">Total de Outros Materiais</span>
                </div>
            </div>

        </main>
        <script src="/javascripts/header.js"></script>
        <script src="/javascripts/sidebar.js"></script>
        <%- include('./partials/footer.ejs') %>