<%if(!laboratorioSelecionado){%>
  <%- include('./partials/header-minimal.ejs')%> <%# renderiza laboratorio para trocar %>
  <%}else{ %>
      <%- include('./partials/header.ejs')%>
      <%}%>

<main class="conteudo">
  <div class="form-lab-container">

    <% if (laboratorios.length==0) { %>
        <form action="/laboratorios/cadastrar" method="post" id="form-lab">
            <h1 class="title"><%=title = "Registar novo Laboratório"%></h1>
          <label for="nome" class="label">Nome do Laboratório</label>
          <input type="text" id="nome" name="nome" maxlength="180" required  placeholder="Digite o nome do Laboratório"/>
          <label for="nome" class="label">Nome do Laboratório</label>
          <input type="text" id="descricao" name="descricao" maxlength="180" required  placeholder="Descreve as Actividades do Laboratório..."/>
         
            <input type="hidden" name="responsavel" value=<%=usuario.id%>>

          <button type="submit" class="button">Registar</button>
        </form>
      </div>
    <% } else {%>
       <section>
        <% laboratorios.forEach((laboratorio) => { %>
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <%=laboratorio.nome%>
              </p>
            </header>
            <div class="card-content">
              <div class="content"> <%=laboratorio.descricao%>              
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item btn-resumo" onclick="showResume('<%=laboratorio.id%>')">Ver Resumo</a>
              <form action="/laboratorios" method="post">
                <input type="hidden" name="laboratorioId" value="<%=laboratorio.id%>">
                <button type="submit" class="card-footer-item">Acessar Laboratório</button>
              </form>
              <a href="#" class="card-footer-item btn-editar" onclick="getDadosForEdition('<%=laboratorio.id%>')">Editar Informações</a>
            </footer>
          </div>
        <% }) %>
       </section>
        <% }%>
                  <!-- Modal editar registo-->
                  <div class="modal" id="modal-editar">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Editar Laboratório</p>
                            <button class="delete" aria-label="close" id="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="message-alert hide">
                                <span id="edit-msg"></span>
                            </div>
                            <!-- Form de Edicao de laboratorio-->
                            <form id="edit-form-validate-lab" method="post">
                              <input type="hidden" name="_method" value="put">
                              <input type="hidden" id="edit-lab-id" value="">
        
                                <div class="field">
                                  <input type="text" id="edit-nome" name="nome" maxlength="180"class="input"  required  placeholder="Digite o nome do Laboratório"/>
                                
                                 <div class="field">
                                  <input type="text" id="edit-descricao" name="descricao" maxlength="180" class="input" required  placeholder="Descreve as Actividades do Laboratório..."/>
                                 </div>
                                    <footer class="modal-card-foot">
                                        <button type="submit" class="button is-primary" id="btnSalvar">Salvar
                                            alterações</button>
                                        <a href="/laboratorios" class="button" id="btnCancelar">Cancelar</a>
                                    </footer>
                                </div>
                            </form>
                            <!-- Form de Edicao de laboratorio-->
                        </section>
                    </div>
                </div>
                <!-- Fim Modal editar registo-->

                 <!-- Modal Ver Resumo-->
                 <div class="modal" id="modal-resumo">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                      <header class="modal-card-head">
                          <p class="modal-card-title"></p>
                          <button class="delete" aria-label="close" id="close"></button>
                      </header>
                      <section class="modal-card-body">
                          <div class="message-alert hide">
                              <span id="edit-msg"></span>
                          </div>
                          <div>
                            <ul class="lab-elements">
                                  <li class="lab-item">
                                    <span class="item-title">Mesas</span>
                                    <span class="item-content"></span>
                                  </li>
                                  <li class="lab-item">
                                    <span class="item-title">Mesas Cheias</span>
                                    <span class="item-content"></span>
                                  </li>
                                  <li class="lab-item">
                                    <span class="item-title">Mesas com Espaço Livres</span>
                                    <span class="item-content"></span>
                                  </li>
                                  <li class="lab-item">
                                    <span class="item-title">Materiais</span>
                                    <span class="item-content"></span>
                                  </li>
                                  <li class="lab-item">
                                    <span class="item-title">Materiais Bons</span>
                                    <span class="item-content"></span>
                                  </li>
                                  <li class="lab-item">
                                    <span class="item-title">Materiais Danificado</span>
                                    <span class="item-content"></span>
                                  </li>
                                  <li class="lab-item">
                                    <span class="item-title">Materiais Incompletos</span>
                                    <span class="item-content"></span>
                                  </li>
                            </ul>
                            <p style="font-style: italic;color: #8f8f8f;text-align: center; text-decoration: underline;">Para Gerir Esses dados acesse o Laboratório</p>
                          </div>
                      </section>
                  </div>
              </div>
              <!-- Fim Modal Resumo-->
    </main>
<script src="/javascripts/laboratorio.js"></script>
<script src="/javascripts/base.js"></script>
<script src="/javascripts/header.js"></script>
<script src="/javascripts/sidebar.js"></script>

<%- include('./partials/footer.ejs') %>
