<%- include('./partials/header.ejs') %>
    <%- include('./partials/sidebar.ejs') %>
        <main class="conteudo">

            <h1 class="title">
                <%= title %>
            </h1>

            <div class="top-elements">
                <button type="button" id="btn-novo" class="button is-info">Novo
                    Material
                </button>

                <form method="get">
                    <span class="search-area">
                        <input type="search" name="pesquisa" placeholder="Pesquisar registo..." class="input-search">
                        <button type="submit" class="btn-search">
                            <i class="fa fa-search is-left icon"></i>
                        </button>
                    </span>
                </form>
            </div>

            <table class="table is-striped is-hoverable is-fullwidth">
                <thead class="grid-header">
                    <tr>
                        <th scope="col" class="grid-title">Nome</th>
                        <th scope="col" class="grid-title">Modelo</th>
                        <th scope="col" class="grid-title">Marca</th>
                        <th scope="col" class="grid-title">Mesa</th>
                        <th scope="col" class="grid-title">Capacidade</th>
                        <th scope="col" class="grid-title">Programas</th>
                        <th scope="col" class="grid-title">Estado</th>
                        <th scope="col" class="grid-title">Acções</th>
                    </tr>
                </thead>

                <tbody class="grid-body">

                    <% materiais.forEach((material)=> { %>
                        <!--<h3 class="table-empty">Não tem dados para listar!</h3>-->
                        <tr id="lista-dados">
                            <td class="grid-data nome-in-table">
                                <%= material.nome %>
                            </td>
                            <td class="grid-data">
                                <%= material.marca %>
                            </td>
                            <td class="grid-data">
                                <%= material.modelo %>
                            </td>
                            <td class="grid-data">
                                <% for( let i=0; i < mesas.length; i++ ) { %>
                                    <% if (material.mesa===mesas[i].id) { %>
                                        <%= mesas[i].nome%>
                                            <% } %>
                                                <% } %>

                            </td>
                            <td class="grid-data">
                                <%= material.capacidade %>
                            </td>
                            <td class="grid-data">
                                <%= material.tem_programas %>
                            </td>
                            <td class="grid-data">
                                <%= material.estado %>
                            </td>
                            <td class="grid-data">
                                <span class="actions-list">
                                    <a href="#" class="btn-ver" id="btnVer" title="Visualizar Registo"><i
                                            class="fa fa-eye" onclick="getMaterial('<%=material.id%>')"></i></a>
                                    <a href="#" class="btn-editar" title="Editar Registo"
                                        onclick="getDadosForEdition('<%=material.id%>')">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <!-- Form Eliminar-->
                                    <form action="/materiais/<%=material.id%>" method="post" class="deleteRegisto">
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit" class="btn-excluir" title="Excluir Registo"><i
                                                class="fa fa-trash"></i></button>
                                    </form>
                                    <!-- Fim Form Eliminar-->
                                </span>

                            </td>

                        </tr>

                        <% }) %>

                </tbody>

            </table>

            <nav class="pagination" role="navigation" aria-label="pagination">

                <a class="pagination-previous" href="/materiais?pagina=<%= paginaActual-1 %>">
                    Anterior
                </a>
                <a class="pagination-next" href="/materiais?pagina=<%%>">
                    Próxima
                </a>
                <ul class="pagination-list">
                    <li>
                        <a class="pagination-link is-current" aria-label="Page 1" aria-current="page"
                            href="/materiais?pagina=<%=paginaActual%>">
                            <%=paginaActual%>
                        </a>
                    </li>
                </ul>
            </nav>
            <form method="post" id="form-deleteAll">
                <input type="hidden" name="_method" value="delete">

                <button type="submit" class="button is-danger" id="btnLimparGrid">Eliminar Todos
                    Registos
                </button>
            </form>
            <!-- Mensage de Alerta-->
            <p class="message-box oculto">
                <span>
                    <i class="fa-solid fa-check" id="icone-message"></i>
                </span>
                <span id="message"></span>
            </p>

        </main>

        <div class="modal" id="modal-novo">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Cadastro de Material</p>
                    <button class="delete" aria-label="close" id="close"></button>
                </header>

                <section class="modal-card-body">
                    <div class="message-alert hide">
                        <span id="msg"></span>
                    </div>

                    <form action="/materiais/cadastrar" method="post" id="form-validate" class="form-cadastro">
                        <div class="field">
                            <label for="nome-material" class="label">
                                Nome *
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="nome-material" maxlength="80"
                                    placeholder="Digite o nome" name="nome" autofocus>
                            </div>
                        </div>

                        <div class="field">
                            <label for="marca-material" class="label">
                                Marca
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="marca-material" maxlength="25"
                                    placeholder="Digite a marca" name="marca" value="Sem marca">
                            </div>

                            <label for="modelo-material" class="label">
                                Modelo
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="modelo-material" maxlength="25"
                                    placeholder="Digite o modelo" name="modelo" disabled value="Sem modelo">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="tipo-material">Tipo de Material</label>
                            <div class="control">
                                <div class="select">
                                    <select id="tipo-material" name="tipo_material">
                                        <option value="pc" selected>Computador</option>
                                        <option value="key">Teclado</option>
                                        <option value="mo">Mouse</option>
                                        <option value="up">UPS</option>
                                        <option value="oth">Outro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label for="data-compra" class="label">
                                Data de Compra
                            </label>

                            <div class="control">
                                <input type="date" class="input" id="data-compra" name="data_compra">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                Estado
                            </label>
                            <div class="control">
                                <input type="radio" class="radio n-estado" id="rd-danificado" name="estado"
                                    value="Danificado">
                                <span>Danificado</span>

                                <input type="radio" class="radio n-estado" id="rd-bom" name="estado" checked
                                    value="Bom">
                                <span>Bom</span>

                                <input type="radio" class="radio n-estado" id="rd-rasoavel" name="estado"
                                    value="Rasoável">
                                <span>Rasoável</span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="capacidade" class="label">Capacidade *</label>
                            <div class="control">
                                <input type="text" class="input" id="capacidade" name="capacidade"
                                    placeholder="Ex.:Windows 10 Pro, Ram de 4gb processador intel 2.4GHz HDD 500Gb"
                                    maxlength="70">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                Tem programas
                            </label>
                            <div class="control">
                                <input type="radio" class="radio n-programa" id="rd-sim" name="tem_programas"
                                    value="Sim">
                                <span>Sim</span>

                                <input type="radio" class="radio n-programa" id="rd-nao" name="tem_programas"
                                    value="Não" checked>
                                <span>Não</span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="mesa" class="label">Nº Mesa *</label>
                            <div class="control select">
                                <select id="mesa" name="mesa">
                                    <% mesas.forEach((mesa)=> { %>
                                        <option value="<%= mesa.id%>">
                                            <%= mesa.nome%>
                                        </option>
                                        <%})%>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label for="observacoes" class="label">Observações</label>
                            <div class="control">
                                <textarea id="observacoes" class="textarea" placeholder="Ex.: Este material é....."
                                    rows="1" name="observacoes">
                                </textarea>
                            </div>
                        </div>

                        <div class="field">
                            <footer class="modal-card-foot">
                                <button type="submit" class="button is-primary" id="btnCadastrar">Cadastrar</button>
                                <a href="/materiais" class="button" id="btnCancelarCad">Cancelar</a>
                            </footer>
                        </div>
                    </form>

                </section>
            </div>
        </div>

        <!-- Modal editar registo-->
        <div class="modal" id="modal-editar">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Editar Material</p>
                    <button class="delete" aria-label="close" id="close"></button>
                </header>

                <section class="modal-card-body">

                    <div class="message-alert hide">
                        <span id="edit-msg"></span>
                    </div>
                    <!-- Form de Edicao de Material-->
                    <form id="edit-form-validate" class="form-edit" method="post">
                        <div class="field">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" id="edit-material-id" value="">
                            <label for="edit-nome-material" class="label">
                                Nome
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="edit-nome-material" maxlength="80"
                                    placeholder="Digite o nome" name="nome">
                            </div>
                        </div>

                        <div class="field">
                            <label for="edit-marca-material" class="label">
                                Marca
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="edit-marca-material" maxlength="25"
                                    placeholder="Digite a marca" name="marca">
                            </div>

                            <label for="edit-modelo-material" class="label">
                                Modelo
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="edit-modelo-material" maxlength="25"
                                    placeholder="Digite o modelo" name="modelo">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="edit-tipo-material">Tipo de Material</label>
                            <div class="control">
                                <div class="select">
                                    <select id="edit-tipo-material" name="tipo_material">
                                        <option value="pc">Computador</option>
                                        <option value="key">Teclado</option>
                                        <option value="mo">Mouse</option>
                                        <option value="up">UPS</option>
                                        <option value="oth">Outro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label for="edit-data-compra" class="label">
                                Data de Compra
                            </label>

                            <div class="control">
                                <input type="date" class="input" id="edit-data-compra" name="data_compra">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                Estado
                            </label>
                            <div class="control">
                                <input type="radio" class="radio edit-estado" id="edit-rd-danificado"
                                    data-edit-radio="edit-estado" name="estado" value="Danificado">
                                <span>Danificado</span>

                                <input type="radio" class="radio edit-estado" id="edit-rd-bom"
                                    data-edit-radio="edit-estado" name="estado" value="Bom">
                                <span>Bom</span>

                                <input type="radio" class="radio edit-estado" id="edit-rd-rasoavel"
                                    data-edit-radio="edit-estado" name="estado" value="Rasoável">
                                <span>Rasoável</span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="edit-capacidade" class="label">Capacidade</label>
                            <div class="control">
                                <input type="text" class="input" id="edit-capacidade" name="capacidade"
                                    placeholder="Ex.:Windows 10 Pro, Ram de 4gb processador intel 2.4GHz HDD 500Gb"
                                    maxlength="70">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                Tem programas
                            </label>
                            <div class="control">
                                <input type="radio" class="radio edit-programa" id="edit-rd-sim"
                                    data-edit-programas="edit-programas" name="tem_programas" value="Sim">
                                <span>Sim</span>

                                <input type="radio" class="radio edit-programa" id="edit-rd-nao"
                                    data-edit-programas="edit-programas" name="tem_programas" value="Não">
                                <span>Não</span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="edit-mesa" class="label">Nº Mesa</label>
                            <div class="control select">
                                <select id="edit-mesa" name="mesa">
                                    <% mesas.forEach((mesa)=> { %>
                                        <option value="<%= mesa.id%>">
                                            <%= mesa.nome%>
                                        </option>
                                        <%})%>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label for="edit-observacoes" class="label">Observações</label>
                            <div class="control">
                                <textarea id="edit-observacoes" class="textarea" placeholder="Ex.: Este material é....."
                                    rows="1" name="observacoes">
                                </textarea>
                            </div>
                        </div>

                        <div class="field">
                            <footer class="modal-card-foot">
                                <button type="submit" class="button is-primary" id="btnSalvar">Salvar
                                    alterações</button>
                                <a href="/materiais" class="button" id="btnCancelar">Cancelar</a>
                            </footer>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <!-- Fim Modal editar registo-->

        <!-- Modal ver registo-->
        <div class="modal" id="modal-ver">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title ver-nome"></p>
                    <button class="delete" aria-label="close" id="close"></button>
                </header>

                <section class="modal-card-body">
                    <div class="ver-body">
                        <div class="foto-material">

                        </div>
                        <div class="descricao">
                            <span class="desc-campo">
                                Marca:
                                <span class="ver-marca-material">

                                </span>
                            </span>
                            <span class="desc-campo">
                                Modelo:
                                <span class="ver-modelo-material">

                                </span>
                            </span>
                            <span class="desc-campo">
                                Tipo de Material: <span class="ver-tipo-material">

                                </span>
                            </span>
                            <span class="desc-campo">
                                Estado: <span class="ver-estado">

                                </span>
                            </span>
                            <span class="desc-campo">
                                Data de Compra: <span class="ver-data-compra">

                                </span>
                            </span>
                            <span class="desc-campo">
                                Capacidade: <span class="ver-capacidade">

                                </span>
                            </span>
                            <span class="desc-campo">
                                Tem Programas: <span class="ver-programas">

                                </span>
                            </span>
                            <span class="desc-campo">

                            </span>
                            </span>
                            <span class="desc-campo">
                                Observações:
                                <div class="ver-observacoes">

                                </div>
                            </span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Fim Modal ver registo-->
        <script src="/javascripts/base.js"></script>
        <script src="/javascripts/header.js"></script>
        <script src="/javascripts/material.js"></script>

        <%- include('./partials/footer.ejs') %>