<%- include('./partials/header.ejs') %>
    <%- include('./partials/sidebar.ejs') %>
        <main class="conteudo">

            <h1 class="title">
                <%= title %>
            </h1>

            <div class="top-elements">
                <button type="button" id="btn-novo" class="button is-info" data-target="modal-novo">Novo
                    Material</button>
                <form method="get">
                    <span class="search-area">
                        <input type="search" name="pesquisa" placeholder="Pesquisar registo..." class="input-search">
                        <button type="submit" class="btn-search">
                            <i class="fa fa-search is-left icon"></i>
                        </button>
                    </span>
                </form>
            </div>

            <table class="table is-striped is-hoverable is-fullwidth">
                <thead class="grid-header">
                    <tr>
                        <th scope="col" class="grid-title">Nome</th>
                        <th scope="col" class="grid-title">Modelo</th>
                        <th scope="col" class="grid-title">Marca</th>
                        <th scope="col" class="grid-title">Mesa</th>
                        <th scope="col" class="grid-title">Capacidade</th>
                        <th scope="col" class="grid-title">Programas</th>
                        <th scope="col" class="grid-title">Estado</th>
                        <th scope="col" class="grid-title">Acções</th>
                    </tr>
                </thead>

                <tbody class="grid-body">

                    <% materiais.forEach((material)=> { %>

                        <tr>
                            <td class="grid-data nome-in-table">
                                <%= material.nome %>
                            </td>
                            <td class="grid-data">
                                <%= material.marca %>
                            </td>
                            <td class="grid-data">
                                <%= material.modelo %>
                            </td>
                            <td class="grid-data">
                                <% for( let i=0; i < mesas.length; i++ ) { %>
                                    <% if (material.mesa===mesas[i].id) { %>
                                        <%= mesas[i].nome%>
                                            <% } %>
                                                <% } %>

                            </td>
                            <td class="grid-data">
                                <%= material.capacidade %>
                            </td>
                            <td class="grid-data">
                                <%= material.tem_programas %>
                            </td>
                            <td class="grid-data">
                                <%= material.estado %>
                            </td>
                            <td class="grid-data">
                                <span class="actions-list">
                                    <a href="#" class="btn-ver" id="btnVer" title="Visualizar Registo"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="#" class="btn-editar" title="Editar Registo">
                                        <i class="fa fa-edit"></i></a>
                                    <a href="/materiais" class="btn-excluir" title="Excluir Registo"><i
                                            class="fa fa-trash"></i></a>
                                </span>
                            </td>

                        </tr>

                        <% }) %>

                </tbody>

            </table>

            <nav class="pagination" role="navigation" aria-label="pagination">
                <a class="pagination-previous is-disabled" title="Esta é a primeira página">Anterior</a>
                <a class="pagination-next">Próxima</a>
                <ul class="pagination-list">
                    <li>
                        <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
                    </li>
                    <li>
                        <a class="pagination-link" aria-label="Goto page 2">2</a>
                    </li>
                    <li>
                        <a class="pagination-link" aria-label="Goto page 3">3</a>
                    </li>
                </ul>
            </nav>
            <form action="/materiais" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="button is-danger" id="btnLimparGrid">Eliminar Todos
                    Registos
                </button>
            </form>


            <p style="color:green;">
                <label>
                    <%= message%>
                </label>
            </p>

        </main>

        <div class="modal" id="modal-novo">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Cadastro de Material</p>
                    <button class="delete" aria-label="close" id="close"></button>
                </header>

                <section class="modal-card-body">
                    <div class="message-alert hide">
                        <span id="msg"></span>
                    </div>

                    <form action="/materiais" method="post" id="form-validate">
                        <div class="field">
                            <label for="nome-material" class="label">
                                Nome *
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="nome-material" maxlength="80"
                                    placeholder="Digite o nome" name="nome">
                            </div>
                        </div>

                        <div class="field">
                            <label for="marca-material" class="label">
                                Marca
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="marca-material" maxlength="25"
                                    placeholder="Digite a marca" name="marca" value="Sem marca">
                            </div>

                            <label for="modelo-material" class="label">
                                Modelo
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="modelo-material" maxlength="25"
                                    placeholder="Digite o modelo" name="modelo" disabled value="Sem modelo">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="tipo-material">Tipo de Material</label>
                            <div class="control">
                                <div class="select">
                                    <select id="tipo-material" name="tipo_material">
                                        <option value="pc" selected>Computador</option>
                                        <option value="key">Teclado</option>
                                        <option value="mo">Mouse</option>
                                        <option value="up">UPS</option>
                                        <option value="other">Outro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label for="data-compra" class="label">
                                Data de Compra
                            </label>

                            <div class="control">
                                <input type="date" class="input" id="data-compra" name="data_compra">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                Estado
                            </label>
                            <div class="control">
                                <input type="radio" class="radio" id="rd-danificado" name="estado" value="Danificado">
                                <span>Danificado</span>

                                <input type="radio" class="radio" id="rd-bom" name="estado" checked value="Bom">
                                <span>Bom</span>

                                <input type="radio" class="radio" id="rd-rasoavel" name="estado" value="Rasoável">
                                <span>Rasoável</span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="capacidade" class="label">Capacidade *</label>
                            <div class="control">
                                <input type="text" class="input" id="capacidade" name="capacidade"
                                    placeholder="Ex.: Ram de 4gb processador intel 2.4GHz HDD 500Gb" maxlength="45">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                Tem programas
                            </label>
                            <div class="control">
                                <input type="radio" class="radio n-programa" id="rd-sim" name="tem_programas" checked
                                    value="Sim">
                                <span>Sim</span>

                                <input type="radio" class="radio n-programa" id="rd-nao" name="tem_programas"
                                    value="Não">
                                <span>Não</span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="mesa" class="label">Nº Mesa *</label>
                            <div class="control select">
                                <select id="mesa" name="mesa">
                                    <% mesas.forEach((mesa)=> { %>
                                        <option value="<%= mesa.id%>">
                                            <%= mesa.nome%>
                                        </option>
                                        <%})%>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label for="observacoes" class="label">Observações</label>
                            <div class="control">
                                <textarea id="observacoes" class="textarea" placeholder="Ex.: Este material é....."
                                    rows="1" name="observacoes">
                                </textarea>
                            </div>
                        </div>

                        <div class="field">
                            <footer class="modal-card-foot">
                                <button type="submit" class="button is-primary" id="btnCadastrar">Cadastrar</button>
                                <button type="reset" class="button" id="btnCancelar">Cancelar</button>
                            </footer>
                        </div>
                    </form>

                </section>
            </div>
        </div>

        <!-- Modal editar registo-->
        <div class="modal" id="modal-editar">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Editar Material</p>
                    <button class="delete" aria-label="close" id="close"></button>
                </header>

                <section class="modal-card-body">
                    <!-- Form de Edicao de Material-->
                    <form action="/materiais" method="post">
                        <div class="field">
                            <label for="ed-nome-material" class="label">
                                Nome
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="ed-nome-material" maxlength="80"
                                    placeholder="Digite o nome" name="nome">
                            </div>
                        </div>

                        <div class="field">
                            <label for="ed-marca-material" class="label">
                                Marca
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="ed-marca-material" maxlength="25"
                                    placeholder="Digite a marca" name="marca" value="Sem marca">
                            </div>

                            <label for="ed-modelo-material" class="label">
                                Modelo
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="ed-modelo-material" maxlength="25"
                                    placeholder="Digite o modelo" name="modelo" disabled value="Sem modelo">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="tipo-material">Tipo de Material</label>
                            <div class="control">
                                <div class="select">
                                    <select id="tipo-material" name="tipo_material">
                                        <option value="pc" selected>Computador</option>
                                        <option value="key">Teclado</option>
                                        <option value="mo">Mouse</option>
                                        <option value="up">UPS</option>
                                        <option value="other">Outro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label for="ed-data-compra" class="label">
                                Data de Compra
                            </label>

                            <div class="control">
                                <input type="date" class="input" id="ed-data-compra" name="data_compra">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                Estado
                            </label>
                            <div class="control">
                                <input type="radio" class="radio" id="rd-danificado" name="estado" value="Danificado">
                                <span>Danificado</span>

                                <input type="radio" class="radio" id="rd-bom" name="estado" checked value="Bom">
                                <span>Bom</span>

                                <input type="radio" class="radio" id="rd-rasoavel" name="estado" value="Rasoável">
                                <span>Rasoável</span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="ed-capacidade" class="label">Capacidade</label>
                            <div class="control">
                                <input type="text" class="input" id="ed-capacidade" name="capacidade"
                                    placeholder="Ex.: Ram de 4gb processador intel 2.4GHz HDD 500Gb" maxlength="45">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                Tem programas
                            </label>
                            <div class="control">
                                <input type="radio" class="radio n-programa" id="rd-sim" name="tem_programas" checked
                                    value="Sim">
                                <span>Sim</span>

                                <input type="radio" class="radio n-programa" id="rd-nao" name="tem_programas"
                                    value="Não">
                                <span>Não</span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="ed-mesa" class="label">Nº Mesa</label>
                            <div class="control select">
                                <select id="mesa" name="mesa">
                                    <% mesas.forEach((mesa)=> { %>
                                        <option value="<%= mesa.id%>">
                                            <%= mesa.nome%>
                                        </option>
                                        <%})%>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label for="ed-observacoes" class="label">Observações</label>
                            <div class="control">
                                <textarea id="ed-observacoes" class="textarea" placeholder="Ex.: Este material é....."
                                    rows="1" name="observacoes">
                                </textarea>
                            </div>
                        </div>

                        <div class="field">
                            <footer class="modal-card-foot">
                                <button type="submit" class="button is-primary" id="btnSalvar">Cadastrar</button>
                                <button type="reset" class="button" id="btnCancelar">Cancelar</button>
                            </footer>
                        </div>
                    </form>

                    <!-- Form de Edicao de Material-->
                </section>
            </div>
        </div>
        <!-- Fim Modal editar registo-->

        <!-- Modal ver registo-->
        <div class="modal" id="modal-ver">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">NOME DO MATERIAL</p>
                    <button class="delete" aria-label="close" id="close"></button>
                </header>

                <section class="modal-card-body">
                    <div class="ver-body">
                        <div class="foto-material">
                            NOME DO MATERIAL
                        </div>
                        <div class="descricao">
                            <span class="desc-campo">
                                Marca: <span>
                                    <%=materiais[0].marca%>
                                </span>
                            </span>
                            <span class="desc-campo">
                                Modelo: <span>
                                    <%=materiais[0].modelo%>
                                </span>
                            </span>
                            <span class="desc-campo">
                                Tipo de Material: <span>
                                    <%=materiais[0].tipo_material%>
                                </span>
                            </span>
                            <span class="desc-campo">
                                Estado: <span>
                                    <%=materiais[0].estado%>
                                </span>
                            </span>
                            <span class="desc-campo">
                                Data de Compra: <span>
                                    <%=materiais[0].data_compra%>
                                </span>
                            </span>
                            <span class="desc-campo">
                                Capacidade <span>
                                    <%=materiais[0].capacidade%>
                                </span>
                            </span>
                            <span class="desc-campo">
                                Tem Programas <span>
                                    <%=materiais[0].tem_programas%>
                                </span>
                            </span>
                            <span class="desc-campo">
                                Mesa: <span>
                                    <% for( let i=0; i < mesas.length; i++ ) { %>
                                        <% if (materiais[0].mesa===mesas[i].id) { %>
                                            <%= mesas[i].nome%>
                                                <% } %>
                                                    <% } %>
                                </span>
                            </span>
                            <span class="desc-campo">
                                Observações: <span>
                                    <%=materiais[0].observacao%>
                                </span>
                            </span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Fim Modal ver registo-->

        <script src="/javascripts/material.js"></script>

        <%- include('./partials/footer.ejs') %>