<%- include('./partials/header.ejs') %>
    <%- include('./partials/sidebar.ejs') %>
        <main class="conteudo">

            <h1 class="title">
                <%=title%>
            </h1>

            <!--<div class="table-container">-->
            <div>

                <div class="top-elements">
                    <% if (usuario.tipo_conta=='administrador' ) { %>
                        <button type="button" id="btn-novo" class="button is-info">Nova
                            Mesa
                        </button>
                        <% } else { %>
                            <button type="button" id="btn-novo" class="button is-info" disabled>Nova
                                Mesa
                            </button>
                            <%}%>

                                <form action="#" method="get">
                                    <span class="search-area">
                                        <input type="search" name="pesquisa-registo" placeholder="Pesquisar registo..."
                                            class="input-search">
                                        <button type="submit" class="btn-search">
                                            <i class="fa fa-search is-left icon"></i>
                                        </button>
                                    </span>
                                </form>
                </div>

                <table class="table is-striped is-hoverable is-fullwidth">
                    <thead class="grid-header">
                        <tr>
                            <th scope="col" class="grid-title">Nome</th>
                            <th scope="col" class="grid-title">Nº Máximo de Computadores</th>
                            <th scope="col" class="grid-title">Estado</th>
                            <th scope="col" class="grid-title">Acções</th>
                        </tr>
                    </thead>

                    <tbody class="grid-body">

                        <% mesas.forEach((mesa)=> { %>

                            <tr>
                                <td class="grid-data nome-in-table">
                                    <%= mesa.nome %>
                                </td>

                                <td class="grid-data">
                                    <%= mesa.num_maximo_pc %>
                                </td>

                                <td class="grid-data">
                                    <%= mesa.estado %>
                                </td>
                                <td class="grid-data">
                                    <% if (usuario.tipo_conta=='administrador' ) { %>
                                        <span class="actions-list">
                                            <a href="#" class="btn-ver" id="btnVer" title="Visualizar Registo"><i
                                                    class="fa fa-eye" onclick="getMesa('<%=mesa.id%>')"></i></a>
                                            <a href="#" class="btn-editar" title="Editar Registo"
                                                onclick="getDadosForEdition('<%=mesa.id%>')">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <!-- Form Eliminar-->
                                            <form action="/mesas/<%=mesa.id%>" method="post" class="deleteRegisto">
                                                <input type="hidden" name="_method" value="delete">
                                                <button type="submit" class="btn-excluir" title="Excluir Registo"><i
                                                        class="fa fa-trash"></i></button>
                                            </form>
                                            <!-- Fim Form Eliminar-->
                                        </span>
                                        <% } else { %>
                                            <span class="actions-list">
                                                <a href="#" class="btn-ver" id="btnVer" title="Visualizar Registo"><i
                                                        class="fa fa-eye" onclick="getMesa('<%=mesa.id%>')"></i></a>
                                            </span>
                                            <%}%>
                                </td>

                            </tr>

                            <% }) %>

                    </tbody>

                </table>

                <nav class="pagination" role="navigation" aria-label="pagination">
                    <a class="pagination-previous" href="/mesas?pagina=1">
                        Primeiro
                    </a>
                    <a class="pagination-previous" href="/mesas?pagina=<%= paginas.anterior %>">
                        Anterior
                    </a>
                    <a class="pagination-next" href="/mesas?pagina=<%=paginas.proxima%>">
                        Próxima
                    </a>
                    <a class="pagination-next" href="/mesas?pagina=<%=paginas.total%>">
                        Último
                    </a>
                    <ul class="pagination-list">
                        <li>
                            <a class="pagination-link is-current" aria-current="page"
                                href="/mesas?pagina=<%=paginas.actual%>">
                                <%=paginas.actual%> de <%=paginas.total%>
                            </a>
                        </li>
                        <li>
                            <button type="button" id="btn-print" title="Imprimir <%=title%>">
                               <i class="fa fa-print"></i>
                           </button>
                       </li>
                    </ul>
                </nav>
                <!--
                <form method="post" id="form-deleteAll">
                    <input type="hidden" name="_method" value="delete">

                    <button type="submit" class="button is-danger" id="btnLimparGrid">Eliminar Todos
                        Registos
                    </button>
                </form> -->

                <!-- Mensage de Alerta-->
                <p class="message-box oculto">
                    <span>
                        <i class="fa-solid fa-check" id="icone-message"></i>
                    </span>
                    <span id="message"></span>
                </p>
        </main>

        <div class="modal" id="modal-novo">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Cadastro de Mesas</p>
                    <button class="delete" aria-label="close" id="close"></button>
                </header>

                <section class="modal-card-body">
                    <div class="message-alert hide">
                        <span id="msg"></span>
                    </div>

                    <form action="/mesas/cadastrar" method="post" id="form-validate-mesa">
                        <div class="field">
                            <label for="nome-mesa" class="label">
                                Nome *
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="nome-mesa" maxlength="80"
                                    placeholder="Digite o nome" name="nome">
                            </div>
                        </div>

                        <div class="field">
                            <label for="num_maximo_pc" class="label">
                                Número Máximo de Computadores *
                            </label>
                            <div class="control">
                                <input type="number" class="input" id="num_maximo_pc" min="0"
                                    placeholder="Digite o número máximo de Computadores" name="num_maximo_pc">
                            </div>
                        </div>

                        <div class="field">
                            <label for="estado-mesa" class="label">
                                Estado
                            </label>
                            <div class="control">
                                <input type="radio" class="radio" id="rd-vazia" name="estado" value="Vazia">
                                <span>Vazia</span>

                                <input type="radio" class="radio" id="rd-espaco-livre" name="estado" checked
                                    value="Espaço Livre">
                                <span>Espaço Livre</span>

                                <input type="radio" class="radio" id="rd-cheia" name="estado" value="Cheia">
                                <span>Cheia</span>
                            </div>
                        </div>

                        <div class="field">
                            <footer class="modal-card-foot">
                                <button type="submit" class="button is-primary" id="btnCadastrar">Cadastrar</button>
                                <a href="/mesas" class="button" id="btnCancelar">Cancelar</a>
                            </footer>
                        </div>
                    </form>

                </section>
            </div>
        </div>

        <!-- Modal editar registo-->
        <div class="modal" id="modal-editar">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Editar mesa</p>
                    <button class="delete" aria-label="close" id="close"></button>
                </header>

                <section class="modal-card-body">
                    <div class="message-alert hide">
                        <span id="edit-msg"></span>
                    </div>
                    <!-- Form de Edicao de mesa-->
                    <form id="edit-form-validate-mesa" class="form-edit" method="post">
                        <div class="field">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" id="edit-mesa-id" value="">
                            <label for="edit-nome-mesa" class="label">
                                Nome
                            </label>
                            <div class="control">
                                <input type="text" class="input" id="edit-nome-mesa" maxlength="80"
                                    placeholder="Digite o nome" name="nome">
                            </div>
                        </div>

                        <div class="field">
                            <label for="edit-num-max-mesa" class="label">
                                Nº Máximo de Computadores
                            </label>
                            <div class="control">
                                <input type="number" class="input" id="edit-num-max-mesa"
                                    placeholder="Digite o nº máximo de Computadores" name="num_maximo_pc" min="0">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">
                                Estado
                            </label>
                            <div class="control">
                                <input type="radio" class="radio edit-estado-mesa" id="rd-vazia" name="estado"
                                    value="Vazia">
                                <span>Vazia</span>

                                <input type="radio" class="radio edit-estado-mesa" id="rd-espaco-livre" name="estado"
                                    checked value="Espaço Livre">
                                <span>Espaço Livre</span>

                                <input type="radio" class="radio edit-estado-mesa" id="rd-cheia" name="estado"
                                    value="Cheia">
                                <span>Cheia</span>
                            </div>
                        </div>

                        <div class="field">
                            <footer class="modal-card-foot">
                                <button type="submit" class="button is-primary" id="btnSalvar">Salvar
                                    alterações</button>
                                <a href="/mesas" class="button" id="btnCancelar">Cancelar</a>
                            </footer>
                        </div>
                    </form>
                    <!-- Form de Edicao de mesa-->
                </section>
            </div>
        </div>
        <!-- Fim Modal editar registo-->

        <!-- Modal ver registo-->
        <div class="modal" id="modal-ver">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title ver-nome"></p>
                    <button class="delete" aria-label="close" id="close"></button>
                </header>

                <section class="modal-card-body">
                    <div class="ver-body">
                        <div class="foto-mesa">

                        </div>
                        <div class="descricao">
                            <span class="desc-campo">
                                Nº Máximo de Computadores:
                                <span class="ver-numero-max-pc">

                                </span>
                            </span>
                            <span class="desc-campo">
                                Estado:
                                <span class="ver-estado">

                                </span>
                            </span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Fim Modal ver registo-->

        <script src="/javascripts/base.js"></script>
        <script src="/javascripts/header.js"></script>
        <script src="/javascripts/sidebar.js"></script>
        <script src="/javascripts/mesas.js" defer></script>

        <%- include('./partials/footer.ejs') %>